export http_proxy=http://{{vars_proxy}}
export https_proxy=http://{{vars_proxy}}
export no_proxy="{{no_proxy}},{{network}}"
export HTTP_PROXY=http://{{vars_proxy}}
export HTTPS_PROXY=http://{{vars_proxy}}
export NO_PROXY="{{no_proxy}},{{network}}"