export http_proxy="http://{{proxy_user}}:{{proxy_pass}}@{{vars_proxy}}"
export https_proxy="http://{{proxy_user}}:{{proxy_pass}}@{{vars_proxy}}"
export no_proxy="{{no_proxy}},{{network}}"
export HTTP_PROXY="http://{{proxy_user}}:{{proxy_pass}}@{{vars_proxy}}"
export HTTPS_PROXY="http://{{proxy_user}}:{{proxy_pass}}@{{vars_proxy}}"
export NO_PROXY="{{no_proxy}},{{network}}"